@font-face {
    font-family: 'vipna'; /* Choose a name for your font */
    src: url('vipnagorgialla bd.otf'); /* Specify the path and format of your font file */
}

body {
    margin: 0;
    padding: 0;
}

header {
    	h1 {
        font-family: 'vipna', sans-serif;
              }
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}


/* Add more styles as needed */
